.navbar {
  padding: 2.5rem 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand a {
  color: #054c73;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  color: #333;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.link:hover {
  border-bottom: 1px solid black;
}
