.hero {
  height: calc(100vh - 8rem);
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
}

.hero-card {
  padding: 40px;
  background: #dfe9f4;
  width: 643px;
  height: 443px;
  border-radius: 10px;
  position: absolute;
  top: 155px;
  right: 90px;
}

.hero-card h1 {
}
