.newsletter {
  background: #f2f5ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.newsletter h1 {
  color: var(--Font-Color, #333);
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
}

.newsletter p {
  color: #666;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.438rem; /* 195% */
}

.newsletter div {
  display: flex;
  justify-content: center;
  width: 32rem;
  border: 1px solid #054c73;
  border-radius: 0.188rem;
}

.newsletter div input {
  border: none;
  padding: 1.563rem;
  width: 100%;
}

.newsletter div button {
  border: none;
  padding: 1.563rem 2.5rem;
  border-radius: 0px;
}
