.products {
  padding: 2rem 5rem;
}

.products-title {
  text-align: center;
  text-transform: capitalize;
  color: #333;
}

.products-title h1 {
  font-size: 2rem;
  font-weight: 700;
}

.products-title p {
  font-size: 1.25rem;
  font-weight: 400;
}

.images {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.images img {
  width: 25rem;
  height: 30rem;
  max-width: 30rem;
  max-height: auto;
  object-fit: cover;
  border-radius: 0.625rem;
}
